@import "compass";
@include global-reset;

body {
    font: 16px/1.5 'Open Sans', sans-serif;
}

.logo {
    background: rgba(0, 0, 0, .33) url(../img/logo-tf.png) no-repeat 24px 50%;
    padding: 12px 0 12px 60px;
    font-weight: 600;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .1);
    position: absolute;
    right: 0;
    left:0;
    z-index: 5;

    a:link, a:visited {
        color: #fff;
        text-decoration: none;
    }
}

.tools {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 24px;
    z-index: 10;

    li {
        display: inline;
        margin: 0;
        padding: 0;
    }

    a, iframe {
        float: left;
        height: 48px;
        width: 36px;
        overflow: hidden;

        span {
            display: none;
        }
    }
    iframe {
        width: 96px;
        border: none;
        height: 21px;
        margin: 13px 0 14px 0;
    }

    .settings {
        background: url(../img/cog.png) no-repeat 50% 50%;
        margin-right: 12px;
    }

    .fullscreen {
        background: url(../img/fullscreen.png) no-repeat 50% 50%;
    }
}

#twitter-fontana {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#settings {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    right: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .1);
    background: rgba(0, 0, 0, .4);
    text-align: center;
    color: #fff;

    .logos {
        position: absolute;
        right: 36px;
        bottom: 12px;
        line-height: 1;
        z-index: 10;

        a.github { margin-right: 12px; }
    }

    h1 {
        font-size: 24px;
        line-height: 1;
        font-weight: 400;
        margin: 12px 0 24px 0;
    }
    h1 a:link, h1 a:visited {
        color: #fff;
        text-decoration: none;
        background: url(../img/cog.png) no-repeat 0 50%;
        padding-left: 36px;
    }

    #settingsForm, #appearanceForm, fieldset {
        display: inline-block;
        vertical-align: top;
        text-align: left;
    }

    fieldset {
        margin: 0 12px;
    }

    legend {
        display: none;
    }

    .field {
        position: relative;
        margin-bottom: 12px;
    }

    input, select {
        font: 14px 'Open Sans', sans-serif;
        background: #fff;
        padding: 2px 0;
        margin: 0;
        border: 1px solid #fff;
        outline: none;
        @include border-radius(3px);
        width: 15em;
    }
    select {
        border: 0;
    }

    .url {
        margin-top: 20px;
        display: block;
        text-align: center;

        input {
            width: 66%;
        }
    }

    .swatch {
        border: 1px solid #ccc;
        @include border-radius(3px);
        width: 20px;
        height: 20px;
        right: 2px;
        top: 2px;
        position: absolute;
    }

    .picker {
        position: absolute;
        width: 195px;
        height: 195px;
        top: -95px;
        left: 101%;
        z-index: 10;
        background-color: rgba(0, 0, 0, .75);
        padding: 5px;
        border: 1px solid transparent;
        @include border-radius(3px);
    }

    form.start {
        .field {
            display: inline-block;
            vertical-align: middle;
        }

        input#twitter_search {
            font-size: 30px;
            padding: 8px;
            border: solid 3px #324c10;
        }

        input.submit {
            background: #324c10;
            color: #fff;
            font-size: 20px;
            width: 90px;
            height: 60px;
            border: none;
        }
    }
}

#fontana-search {
    position: absolute;
    z-index: 10;
}

/* message styles */
.fontana-message {
    display: none;
    padding: 23px 24px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid transparent;
    @include border-radius(6px);
    overflow: hidden;
    position: relative;
    background: rgba(0, 0, 0, .33);
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, .1);


    q {
        display: block;
        font-size: 36px;
        line-height: 1.3334;
        margin: 0 0 36px 0;
    }

    a { text-decoration: none; }

    figure {
        float: left;
        overflow: hidden;
        border: 4px solid rgba(255, 255, 255, .33);
        width: 64px;
        height: 64px;
        margin: -12px 12px 0 0;
    }

    cite {
        font-size: 24px;
        line-height: 1;
    }

    cite, time {
        display: block;
    }
}
