@import "compass";
@include global-reset;

.fontanta-message {
    display: none;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border: 1px solid transparent;
    @include border-radius(5px);
    overflow: hidden;

    q {
        display: block;
        padding: 20px 0 0 0;
        font-size: 37px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    figure {
        float: left;
        overflow: hidden;
        border: 4px solid rgba(255, 255, 255, .25);
        width: 64px;
        height: 64px;
        margin-right: 20px;
    }

    cite {
        font-size: 28px;
        line-height: 32px;
        display: block;
    }

    time {
        height: 45px;
        display: block;
        line-height: 45px;
    }
}
